<%= simple_form_for @rubric, :url => (@rubric.persisted? ? admin_rubric_path(@rubric) : url_for(:controller => 'admin/rubrics', :action =>:create)) do |f| %>
    <%= f.error_notification %>
    <div class="inputs">
      <%= f.input :language %>

      <%= f.input :title %>
    </div>

    <div class="actions">
      <%= f.submit :class =>'button' %>
    </div>
<% end %>
