<div style="width: 50%">
  <%= render :partial => 'admin/shared/notifications' %>
</div>
<p>
  <strong>Language:</strong>
  <%= @rubric.language %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rubric.title %>
</p>


<div class="show_additional_buttons">
  <%= link_to 'Edit', edit_admin_rubric_path(@rubric), :class => 'button white_button' %> |
  <%= link_to 'Back', admin_rubrics_path, :class => 'button white_button' %>
</div>

